$color-primary-base:   #3498DB;
$color-primary-dark:   #2980B9;
$color-secondary-base: #1ABC9C;
$color-secondary-dark: #16A085;
$color-success-base:   #2ECC71;
$color-success-dark:   #27AE60;
$color-warning-base:   #F1C40F;
$color-warning-dark:   #F39C12;
$color-error-base:     #E74C3C;
$color-error-dark:     #C0392B;
$color-black-base:     #222222;
$color-black-dark:     #111111;
$color-grey-base:      #EEEEEE;
$color-grey-dark:      #CCCCCC;
$color-white-base:     #FFFFFF;
$color-white-dark:     #F3F3F3;
